<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ángel Amadeo González Ruiz">
    <title>{% block title %}Mi app Flask{% endblock %}</title>

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />

    {% block head %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Panel</a></li>
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                <li class="nav-item"><a href="{{ url_for('mis_roles') }}" class="nav-link">mis_roles</a></li>
                <li class="nav-item"><a href="{{ url_for('usuarios2') }}" class="nav-link">usuarios2</a></li>
                <li class="nav-item"><a href="{{ url_for('asignar_rol') }}" class="nav-link">asignar_rol</a></li>
                <li class="nav-item"><a href="{{ url_for('new_grant') }}" class="nav-link">new_grant</a></li>
                <li class="nav-item"><a href="{{ url_for('list_grant_templates') }}" class="nav-link">list_grant_templates</a></li>
                <li class="nav-item"><a href="{{ url_for('validar_xml') }}" class="nav-link">validar_xml</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Panel</a></li>
            </ul>

            <!-- Botones Login/Logout -->
            <ul class="navbar-nav ml-auto">
                {% if token_data.username %}
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link btn btn-outline-danger btn-sm">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión ({{ token_data.username }})
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link btn btn-outline-success btn-sm">
                        <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>


        <!-- Sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="#" class="brand-link">
                <span class="brand-text font-weight-light">Mi App Flask</span>
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                        <li class="nav-item">
                            <a href="{{ url_for('index') }}" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>Panel</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('decode') }}" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>Decode</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('dashboard') }}" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>

                        {% if token_data.is_superuser %}
                        <li class="nav-item">
                            <a href="{{ url_for('usuarios') }}" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                        {% endif %}
                        <!-- <li class="nav-item">
                            <a href="{{ url_for('usuarios') }}"
                                class="nav-link {% block usuarios_active%}{% endblock %}">
                                <i class="nav-icon far fa-image"></i>
                                <p>Usuarios</p>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a href="{{ url_for('new_grant') }}" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>Load an XML to DB NOPE</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ url_for('index') }}" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>Ask for a role NOPE</p>
                            </a>
                        </li>
                        {% if token_data.is_superuser %}

                        <li class="nav-header">ADMIN</li>

                        <li class="nav-item menu{% block open_roles%}{% endblock %}">
                            <a title="Módulo Roles" href="#"
                                class="nav-link {% block active_module_rol%}{% endblock %}">
                                <i class="nav-icon fas fa-solid fa-business-time"></i>
                                <p>
                                    Roles
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a title="Nueva timesheet" href="{{ url_for('roles') }}"
                                        class="nav-link {% block roles_active %}{% endblock %}">
                                        <i class="nav-icon fas fa-solid fa-user-clock"></i>
                                        <p>Lista de roles</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('usuarios') }}" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                        {% endif %}
                        <!--Documentación extra-->
                        <li class="nav-header">EXTRA</li>
                        <li class="nav-item  ">
                            <a title="Información" href="{{ url_for('informacion') }}"
                                class="nav-link {% block active_informacion %} {% endblock %}">
                                <i class="nav-icon fas fa-solid fa-circle-info"></i>
                                <!--<i class="material-symbols-outlined" id="icon">home</i>-->
                                <p>Información
                                    <!--<span class="right badge badge-danger">New</span>-->
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Contenido principal -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{% block header %}BASE{%endblock%}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                {% block path_main %}
                                <li class="breadcrumb-item active">BASE</li>
                                {% endblock %}
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <section class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
        </div>

        <!-- Footer -->
        <footer class="main-footer text-center">
            <strong>© 2025 Mi Proyecto.</strong>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>