{% extends "base.html" %}
{% block title %}Grant Templates{% endblock %}
{% block header %}Listado de Grant Templates{% endblock %}

{% block path_main %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item active">Grant Templates</li>
{% endblock %}



{% block content %}



<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listado de Grant Templates</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acción por defecto</th>
                    <th>Rol asociado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for grant in grants %}
                <tr>
                    <td>{{ grant.id }}</td>
                    <td>{{ grant.name }}</td>
                    <td>{{ grant.default_action }}</td>
                    <td>{{ grant.role_name }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_grant_template', grant_id=grant.id) }}"
                            style="display:inline;"
                            onsubmit="return confirm('¿Estás seguro de que quieres eliminar este grant?');">
                            <button type="submit" class="btn btn-sm btn-danger" title="Eliminar">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No hay grant templates disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}