{% extends "base.html" %}

{% block title %}
Usuarios
{% endblock %}

{% block active_module_USER %}
active
{% endblock %}

{% block open_USERS %}-open{% endblock %}

{% block active_users %}
active
{% endblock %}

{% block header %}
Usuarios registrados
{% endblock %}

{% block path_main %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item active">Usuarios</li>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Listado de Usuarios</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Certificado</th>
          <th>Acciones</th> <!-- Nueva columna para las acciones -->
        </tr>
      </thead>
      <tbody>
        {% for user in usuarios %}
        <tr>
          <td>{{ user['id'] }}</td>
          <td>{{ user['username'] }}</td>
          <td>
            {% if user['cert'] %}
            <code>{{ user['cert'] }}</code>
            {% else %}
            <span class="text-muted">Sin certificado</span>
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('editar_usuario', id=user['id']) }}" class="btn btn-info btn-sm">
              <i class="fas fa-edit"></i> Editar
            </a>
            <form action="{{ url_for('eliminar_usuario', id=user['id']) }}" method="post" style="display:inline;"
              onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
              <button type="submit" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}